@import "./header/header.css";
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

body {
  margin: 0%;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#navbar {
  position: sticky;
}

.page {
  width: 100vw;
  height: 100vh;
}

#first {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0061d0;
}

#first > img {
  width: 850px;
  position: relative;
}

#first > h1 {
  display: inline-block;
  color: white;
  position: absolute;
  font-size: 5rem;
  top: 30%;
  opacity: 0;
  text-align: center;
}

#first > h1 > strong {
  font-size: 5.5rem;
  color: rgb(187, 255, 131);
}

#wrap-second {
  position: relative;
}

#second {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.school {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
  color: #323232;
}

.school > h2 {
  margin: 5px 0px;
}

.school > h1 {
  font-size: 45px;
  margin: 6px 0px;
}

.introd {
  padding: 0%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.h-item {
  width: 250px;
  height: 350px;
  margin: 6px;
  padding: 0px 25px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  filter: brightness(50%); 
}

.h-item:hover {
  transform: scale(1.1);
  transition: 0.5s;
  filter: brightness(100%); 
}

.h-item > p {
  font-size: 15px;
  font-weight: bold;
  color: #323232;
}

.h-item > p:last-child {
  font-size: 12px;
}

#back {
  position: absolute;
  width: 100%;
  height: 15%;
  background-color: #0061d0;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
  clip-path: polygon(0 0, 100% 0, 0% 100%, 0 0%);
}

#back-bottom {
  background-color: #ea5455;
  width: 100%;
  height: 25%;
  clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 100% 100%);
}

.wrap-text {
  text-align: center;
}

.wrap-text > a {
  font-size: large;
  color: #ea5455;
  font-weight: bold;
  padding: 5px;
}

#third {
  display: flex;
  flex-direction: flow;
}

.sec-first {
  flex: 1;
  background-color: #ea5455;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec-first h1 {
  color: #f9f5eb;
  font-size: 65px;
  margin: 0%;
}

.sec-second {
  flex: 2;
}

footer {
  background-color: rgba(83, 83, 83, 0.1);
  height: 140px;
}